@charset "utf-8";
body {
	background-image: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}
h1{
	text-align:center;
}
p {
	color: #000000;
}
.second_color{
	color: #0086c4;
}
.powered-by{
	position:absolute;
	width:100%;
	height:20px;
	bottom:0;
	overflow:hidden;
	text-align: right;
}
.members_shadow{
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url("../../img/blur.jpg");
	/*background: linear-gradient(-135deg, #6babcf, #ebebeb);*/
	margin: 40px auto;
	box-shadow: 10px 10px 15px #333333;

}
.thumbnail img{
	border-radius: 70px;
	height: 120px;
	width: 120px;
	float: left;
	margin: 30px;
}
.comment{
	margin-top: -15px;
}
.name{
	color: #000000;
	font-size: 140%;
}
.twitter_link{
	font-size: 13pt;
	margin-left: 15px;
}